<footer class="footer">
  <!-- <div class="content-align-row-center"> 
    <div class="card-not-line">
      <h2>Puntos de Contactos</h2>
      <span class="text-normal text-bold">Teléfono:</span>
      <span>0939278001</span>
      <span class="text-normal text-bold">Correo:</span>
      <span>sss.silq@gmail.com</span>
    </div>

    <div class="card-not-line">
      <h2>Horarios</h2>
      <span class="text-normal text-bold">Lunes - Viernes</span>
      <span class="bleeding text-shading">08:00 - 17:00</span>
      <span class="text-normal text-bold">Sábados y Domingos</span>
      <span class="bleeding text-shading">08:00 - 17:00</span>
      <span class="text-normal text-bold">Feriados</span>
      <span class="bleeding text-shading">08:00 - 12:00</span>
    </div>

    <div class="card-not-line">
      <h2>Dirección</h2>
      <span class="text-normal text-bold">Ecuador - El Oro - Santa Rosa</span>
      <a class="text-normal text-bold" href="https://www.google.com/maps/place/Ochoa+Le%C3%B3n,+Pasaje/@-3.3334716,-79.830662,14z/data=!4m6!3m5!1s0x9033148c6a410777:0x895a13384dc50092!8m2!3d-3.3334692!4d-79.810063!16s%2Fg%2F11bbrkqgrb?authuser=0&entry=ttu" target="_blank"><span class="text-color-black">Ver en el Mapa</span></a>
      <a class="text-color-black" href="https://www.google.com/maps/place/Ochoa+Le%C3%B3n,+Pasaje/@-3.3334716,-79.830662,14z/data=!4m6!3m5!1s0x9033148c6a410777:0x895a13384dc50092!8m2!3d-3.3334692!4d-79.810063!16s%2Fg%2F11bbrkqgrb?authuser=0&entry=ttu" target="_blank"><img class="image" src="./assets/images/mapa.jpg" alt="Imagen Ubicación"></a>
    </div>
  </div>
  
  <div class="header content-color-gris">
    <a class="bleeding-margin-left" href="index.html">
      <img class="logo" src="./assets/images/logo.svg" alt="Imagen Logo">
    </a>

    <div class="nav">
      <ul>
        <li class="block-inline-left"><a href="index.html">Inicio</a></li>
        <li class="block-inline-left"><a href="members.html">Miembros</a></li>
        <li class="block-inline-left"><a href="blog.html">Blog</a></li>
        <li class="block-inline-left"><a href="contact.html">Contáctanos</a></li>
      </ul>
    </div>

    <div class="nav bleeding-margin-right">
      <div>
        <a class="icon" href="https://www.youtube.com/channel/UCeYdusEIaQXu9YABYDQjaew" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a>
        <a class="icon" href="https://www.facebook.com/silvio.quezada.3" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a class="icon" href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      </div>
    </div> 
  </div>

  <div class="section-row content-color-gris">
    <div class="content-align-row-center">
      <span class="text-color-white">&copy; Universitat Oberta de Catalunya - Diseñado por Silvio Vinicio Quezada Puchaicela</span>
    </div>
  </div> -->
</footer>