<footer class="flex flex-col pt-3.5">
  <div class="flex flex-wrap justify-center w-full text-center sm:pl-14 sm:pr-14 lg:pl-20 lg:pr-20"> 
    <div class="flex flex-col p-6 max-w-sm mx-auto bg-white items-center space-x-4">
      <h2 class="text-3xl font-bold py-5">Puntos de Contactos</h2>
      <span class="font-bold">Teléfono:</span>
      <span>0939278001</span>
      <span class="font-bold">Correo:</span>
      <span>sss.silq@gmail.com</span>
    </div>
   
    <div class="flex flex-col p-6 max-w-sm mx-auto bg-white w items-center space-x-4">
      <h2 class="text-3xl font-bold py-5">Horarios</h2>
      <span class="font-bold">Lunes - Viernes</span>
      <span class="w-full bg-neutral-200">08:00 - 17:00</span>
      <span class="font-bold">Sábados y Domingos</span>
      <span class="w-full bg-neutral-200">08:00 - 17:00</span>
      <span class="font-bold">Feriados</span>
      <span class="w-full bg-neutral-200">08:00 - 12:00</span>
    </div>

    <div class="flex flex-col p-6 max-w-sm mx-auto bg-white w items-center space-x-4">
      <h2 class="text-3xl font-bold py-5">Dirección</h2>
      <span class="font-bold">Ecuador - El Oro - Santa Rosa</span>
      <a class="font-bold" href="https://www.google.com/maps/place/Ochoa+Le%C3%B3n,+Pasaje/@-3.3334716,-79.830662,14z/data=!4m6!3m5!1s0x9033148c6a410777:0x895a13384dc50092!8m2!3d-3.3334692!4d-79.810063!16s%2Fg%2F11bbrkqgrb?authuser=0&entry=ttu" target="_blank"><span class="text-color-black">Ver en el Mapa</span></a>
      <a class="text-color-black" href="https://www.google.com/maps/place/Ochoa+Le%C3%B3n,+Pasaje/@-3.3334716,-79.830662,14z/data=!4m6!3m5!1s0x9033148c6a410777:0x895a13384dc50092!8m2!3d-3.3334692!4d-79.810063!16s%2Fg%2F11bbrkqgrb?authuser=0&entry=ttu" target="_blank"><img class="h-48 w-full" src="./assets/images/mapa.jpg" alt="Imagen Ubicación"></a>
    </div>
    
  </div>
  
  <div class="flex justify-center items-center flex-wrap flex-col w-full bg-gray-400 text-white sm:justify-between sm:flex-row">
    <a class="pl-20" href="index.html">
      <img class="p-1 h-20 w-20" src="./assets/images/logo.svg" alt="Imagen Logo">
    </a>

    <div>
      <ul>
        <li class="inline-block p-3"><a href="index.html">Inicio</a></li>
        <li class="inline-block p-3"><a href="members.html">Miembros</a></li>
        <li class="inline-block p-3"><a href="#">Blog</a></li>
        <li class="inline-block p-3"><a href="#">Contáctanos</a></li>
      </ul>
    </div>

    <div class="pr-20">
      <div>
        <a class="text-lg" href="https://www.youtube.com/channel/UCeYdusEIaQXu9YABYDQjaew" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a>
        <a class="text-lg" href="https://www.facebook.com/silvio.quezada.3" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a class="text-lg" href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      </div>
    </div> 
  </div>
  
  <div class="p-2 bg-gray-400 text-white">
    <div class="flex flex-row justify-center">
      <span class="text-color-white">&copy; Universitat Oberta de Catalunya - Diseñado por Silvio Vinicio Quezada Puchaicela</span>
    </div>
  </div>
</footer>