<main class="container-contend-front-page">

    <div class="grid grid-cols-2 h-lvh bg-cover bg-center opacity-90 z-0" style="background-image: url(assets/images/portada.jpg);">

      <header class="col-span-1 text-white pl-32">
 
        <a href="index.html">
          <img class="p-1 h-20 w-20 z-10" src="./assets/images/logoportada.svg" alt="Imagen Logo">
        </a>

      </header>
      
      <nav class="col-span-1 text-white text-right pr-32 pt-7">
        <div>
          <ul>
            <li class="pl-3 inline-block"><a href="members.html">Miembros</a></li>
            <li class="pl-3 inline-block"><a href="#">Blog</a></li>
            <li class="pl-3 inline-block"><a href="#">Contáctanos</a></li>
          </ul>
        </div>
      </nav>
    
      <div class="col-span-2 text-white">
        <section class="text-center">
          <h1 class="text-4xl font-bold text-white">TENNIS CLUB "START FIT"</h1>
          <p class="text-medium text-color-white">El deporte es lo mejor que puede existir</p>
          <p class="text-medium text-color-white">Únete a este hermoso deporte y sé parte de nuestro club</p> 
        </section>
      </div>
    </div>
    
  </main>

  