<!-- <div class="bg-cover bg-center relative text-white p-8 h-screen text-center justify-center overflow-hidden" style="background-image: url(assets/images/portada.jpg);">
    <div class="p-5 mt-40 bg-black opacity-50 rounded-lg w-max mx-auto flex flex-col">
        <img class="p-1 h-20 w-20" src="./assets/images/logo.svg" alt="Imagen Logo">
        <h2 class="text-3xl font-extrabold">Descubre la Aventura</h2>
        <p class="mt-2 text-lg">Explora lugares asombrosos con nuestras ofertas de viaje.</p>
        <a href="#" class="bg-white text-gray-700 py-2 px-4 rounded-lg hover:bg-gray-700 hover:text-white transition-colors duration-300 w-max mx-auto">Ver Destinos</a>
    </div>
</div> -->

<main class="container-contend-front-page">

    <!-- <img class="bg-no-repeat bg-top" src="./assets/images/portada.jpg" alt="Imagen Front Page"> -->


    <div class="grid grid-cols-2 h-lvh bg-cover bg-center opacity-90 z-0" style="background-image: url(assets/images/portada.jpg);">
    <!-- <div class="grid grid-cols-2 h-lvh opacity-90 bg-cover bg-center z-0" style="background-image: url(assets/images/portada.jpg);"> -->



    <!-- <div class="grid grid-cols-2 h-lvh"> -->
      <header class="col-span-1 text-white">
 
        <a href="index.html">
        <img class="p-1 h-20 w-20 z-10" src="./assets/images/logo.svg" alt="Imagen Logo">
        <!-- <div class="absolute p-1 h-20 w-20 z-10" style="background-image: url(assets/images/logo.svg);"></div> -->
        </a>
      </header>
      
      <nav class="col-span-1 text-white">
        <div>
          <ul>
            <li class="pl-3 inline-block"><a href="members.html">Miembros</a></li>
            <li class="pl-3 inline-block"><a href="#">Blog</a></li>
            <li class="pl-3 inline-block"><a href="#">Contáctanos</a></li>
          </ul>
        </div>
      </nav>
    
      <!-- <img class="absolute top-0 left-0 w-full h-lvh object-cover opacity-90" src="./assets/images/portada.jpg" alt="Imagen Front Page"> -->
    
      <div class="col-span-2 text-white">
        <section class="text-center">
          <h1 class="text-4xl font-bold text-white">TENNIS CLUB "START FIT"</h1>
          <p class="text-medium text-color-white">El deporte es lo mejor que puede existir</p>
          <p class="text-medium text-color-white">Únete a este hermoso deporte y sé parte de nuestro club</p> 
        </section>
      </div>
    </div>
    
  </main>

  