<header class="flex justify-between items-center flex-wrap flex-row w-full bg-gray-400 text-white">
  <a class="pl-32" href="index.html">
    <img class="p-1 h-20 w-20" src="./assets/images/logo.svg" alt="Imagen Logo">
  </a>

  <nav class="pr-32">
    <div>
      <ul>
        <li class="pl-3 inline-block"><a href="members.html">Miembros</a></li>
        <li class="pl-3 inline-block"><a href="#">Blog</a></li>
        <li class="pl-3 inline-block"><a href="#">Contáctanos</a></li>
      </ul>
    </div>
  </nav>
</header>