<header class="flex justify-center items-center flex-wrap flex-col w-full bg-[#49515a] text-white sm:justify-between sm:flex-row">
  <a class="pl-0 sm:pl-14 lg:pl-20" href="index.html">
    <img class="p-1 h-20 w-20" src="./assets/images/logo.svg" alt="Imagen Logo">
  </a>

  <nav class="pr-0 text-lg sm:pr-14 lg:pr-20">
    <div>
      <ul>
        <li class="pl-3 inline-block"><a href="members.html">Miembros</a></li>
        <li class="pl-3 inline-block"><a href="#">Blog</a></li>
        <li class="pl-3 inline-block"><a href="#">Contáctanos</a></li>
      </ul>
    </div>
  </nav>
</header>