<main class="sm:pl-14 sm:pr-14 lg:pl-20 lg:pr-20">
  
  <include src="./components/title.html"> { "title" : "Miembros del Equipo de Tenis" } </include>

  <div class="flex flex-wrap justify-center text-center gap-y-2">

    <include src="./components/card.html">
      {
        "image" : "./assets/images/member1.jpg",
        "name_member": "Silvio Quezada",
        "description": "Programador del Club de Tenis, 32 años de edad, colaborador del desarrollo del sitio web"
      }
    </include>

    <include src="./components/card.html">
      {
        "image" : "./assets/images/member2.jpg",
        "name_member": "Luis Alvarado",
        "description": "Presidente del Club de Tenis, 32 años de edad, colaborador de la organización de torneos"
      }
    </include>

    <include src="./components/card.html">
      {
        "image" : "./assets/images/member3.jpg",
        "name_member": "Fabián Gallardo",
        "description": "Tesoreo del Club de Tenis, 35 años de edad, colaborador en la parte financiera"
      }
    </include>
  
    <include src="./components/card.html">
      {
        "image" : "./assets/images/member4.jpg",
        "name_member": "Noel Gomez",
        "description": "Conductor del Club de Tenis, 28 años de edad, colaborador en la accesibilidad de transporte"
      }
    </include>

    <include src="./components/card.html">
      {
        "image" : "./assets/images/member5.jpg",
        "name_member": "Jessica Quezada",
        "description": "Diseñadora del Club de Tenis, 30 años de edad, colaborador en el diseño de la vestimenta"
      }
    </include>

    <include src="./components/card.html">
      {
        "image" : "./assets/images/member6.jpg",
        "name_member": "Alexis Rivas",
        "description": "Capacitadora del Club de Tenis, 28 años de edad, colaborador en la capacitaciones del público general"
      }
    </include>

    
  </div>
</main>