<main class="pl-32 pr-32">
  
  <div class="text-center">
    <h1 class="text-4xl font-bold py-6">Miembros del Equipo de Tenis</h1>
  </div>

  <div class="flex flex-wrap justify-center text-center gap-y-2">
    <div class="p-6 max-w-80 mx-auto bg-white rounded-xl shadow items-center space-x-4">
      <img class="h-48 w-48 mx-auto" src="./assets/images/member1.jpg" alt="Imagen member">
      <p class="text-2xl font-bold pt-3.5">Silvio Quezada</p>
      <p class="text-base font-thin">Programador del Club de Tenis, 32 años de edad, colaborador del desarrollo del sitio web</p>
    </div>

    <div class="p-6 max-w-80 mx-auto bg-white rounded-xl shadow items-center space-x-4">
      <img class="h-48 w-48 mx-auto" src="./assets/images/member2.jpg" alt="Imagen member">
      <p class="text-2xl font-bold pt-3.5">Luis Alvarado</p>
      <p class="text-base font-thin">Presidente del Club de Tenis, 32 años de edad, colaborador de la organización de torneos</p>
    </div>
  
    <div class="p-6 max-w-80 mx-auto bg-white rounded-xl shadow items-center space-x-4">
      <img class="h-48 w-48 mx-auto" src="./assets/images/member3.jpg" alt="Imagen member">
      <p class="text-2xl font-bold pt-3.5">Fabián Gallardo</p>
      <p class="text-base font-thin">Tesoreo del Club de Tenis, 35 años de edad, colaborador en la parte financiera</p>
    </div>

    <div class="p-6 max-w-80 mx-auto bg-white rounded-xl shadow items-center space-x-4">
      <img class="h-48 w-48 mx-auto" src="./assets/images/member4.jpg" alt="Imagen member">
      <p class="text-2xl font-bold pt-3.5">Noel Gomez</p>
      <p class="text-base font-thin">Conductor del Club de Tenis, 28 años de edad, colaborador en la accesibilidad de transporte</p>
    </div>

    <div class="p-6 max-w-80 mx-auto bg-white rounded-xl shadow items-center space-x-4">
      <img class="h-48 w-48 mx-auto" src="./assets/images/member5.jpg" alt="Imagen member">
      <p class="text-2xl font-bold pt-3.5">Jessica Quezada</p>
      <p class="text-base font-thin">Diseñadora del Club de Tenis, 30 años de edad, colaborador en el diseño de la vestimenta</p>
    </div>

    <div class="p-6 max-w-80 mx-auto bg-white rounded-xl shadow items-center space-x-4">
      <img class="h-48 w-48 mx-auto" src="./assets/images/member6.jpg" alt="Imagen member">
      <p class="text-2xl font-bold pt-3.5">Alexis Rivas</p>
      <p class="text-base font-thin">Capacitadora del Club de Tenis, 28 años de edad, colaborador en la capacitaciones del público general</p>
    </div>

    
  </div>
</main>